body{
  margin: 0;

}
footer{
  background-color: #FF8787;
}

#intro{
  background-color: #FF8787;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;

}

.title{
  padding-top: 6.25rem;
  color: white;
  font-size: 400%;
  margin-top: 0;
}

.boyimg{
  color: #FF8787;
  max-width: 500px;
}

.titlepara{
  font-size: 400%;
  color: white;
  margin-bottom: 0;
  padding-bottom: 6.25rem;
}

#story{
  background-color: #F8C4B4;
  text-align: center;
  font-family: 'Neucha', cursive;
  padding-top: 3.125rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 200%;


}

.storycontent, .storycontent3{
  width: 50%;
  margin: auto;
}

.storysec1, .storysec2, .storysec4, .storysec5{
  padding: 3.125rem 0;
}

.coinimg, .promiseimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.storysec2{
  padding: 3.125rem 0;
}
.copyimg, .teacherimg{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.storycontent2{
  background-color: #E5EBB2;
  width: 100%;
  padding-top: 6.24rem;
  padding-bottom: 6.24rem;
}

.boardimg,.p2p{
  width: 25%;
}

#story2{
  background-color: #BCE29E;
  text-align: center;
  font-family: 'Neucha', cursive;
  padding: 3.125rem 0;
  font-size: 200%;
}

#end{
  background-color: #FF8787;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 200%;
  color: white;
}
.thankyou{
  background-color: #FF8787;
  font-family: 'Fuzzy Bubbles', cursive;
  color: white;
  text-align: center;
  font-size: 400%;
  padding-top: 1.25rem;
  padding-bottom: 3.25rem;
}

@media (max-width: 900px) {
  .title,.titlepara {
    font-size: 200%;
  }
  .storycontent, .storycontent3{
    width: 80%;
    margin: auto;
  }
  .boyimg, .coinimg, .promiseimg, .copyimg, .teacherimg, .p2p{
    max-width: 100%;
    float: none;

  }
  .para1, .para3{
    clear: left;
  }
  .para2, .para4{
    clear: right;
  }
  .thankyou{
    font-size: 100%;
  }
  #end{
    font-size: 100%;
  }

}
