body{
  margin: 0;
  background-color: #FF8787;
}

#intro{
  background-color: #FF8787;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
}

.title{
  margin-top: 100px;
  color: white;
  font-size: 400%;
}

.boyimg{
  color: #FF8787;
  max-width: 500px;
}

.titlepara{
  font-size: 400%;
  color: white;
}

#story{
  background-color: #F8C4B4;
  text-align: center;
  font-family: 'Neucha', cursive;
  padding-top: 3.125rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 200%;


}

.storycontent, .storycontent3{
  width: 50%;
  margin: auto;
}

.storysec1, .storysec2, .storysec4, .storysec5{
  padding: 3.125rem 0;
}

.coinimg, .promiseimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.storysec2{
  padding: 3.125rem 0;
}
.copyimg, .teacherimg{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.storycontent2{
  background-color: #E5EBB2;
  width: 100%;
  padding-top: 6.24rem;
  padding-bottom: 6.24rem;
}

.boardimg,.p2p{
  width: 25%;
}

#story2{
  background-color: #BCE29E;
  text-align: center;
  font-family: 'Neucha', cursive;
  padding: 3.125rem 0;
  font-size: 200%;
}

#end{
  background-color: #FF8787;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 200%;
  color: white;
}
.thankyou{
  font-family: 'Fuzzy Bubbles', cursive;
  color: white;
  text-align: center;
  font-size: 400%;
  padding-top: 1.25rem;
}
